<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBDOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>  
  <userSettings>
    <DBDOverlay.Properties.Settings>
      <setting name="ManualScreenshotFileName" serializeAs="String">
        <value>manual_map</value>
      </setting>
      <setting name="MapOverlayOpacity" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="IsMapOverlayOpened" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>eng</value>
      </setting>
      <setting name="ReadModifier" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ReadKey" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="NextMapModifier" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="NextMapKey" serializeAs="String">
        <value>221</value>
      </setting>
      <setting name="PreviousMapModifier" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PreviousMapKey" serializeAs="String">
        <value>219</value>
      </setting>
      <setting name="AutoScreenshotFileName" serializeAs="String">
        <value>auto_map</value>
      </setting>
      <setting name="IsAutoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SurvivorsScreenshotName" serializeAs="String">
        <value>survivors</value>
      </setting>
      <setting name="IsHookMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPostUnhookTimerMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReshadeFiltersPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReshadeMappings" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateScreenshotsModifier" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CreateScreenshotsKey" serializeAs="String">
        <value>77</value>
      </setting>
      <setting name="HooksThreshold" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MapOverlayRect" serializeAs="String">
        <value>0,0,200,220</value>
      </setting>
      <setting name="KillerOverlayRect" serializeAs="String">
        <value />
      </setting>
      <setting name="Is2v8Mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Killer2v8OverlayRect" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSidePanelMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainFilterName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsHidingOverlaysMode" serializeAs="String">
        <value>False</value>
      </setting>
    </DBDOverlay.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="LOGS.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- SDK-generated resources request 9.0.0.0; NuGet 9.0.1 ships assembly 9.0.0.1. -->
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
